<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Menu</h1>
	
	<h2>Food</h2>
	<table class="table table-striped">
	
	<tr th:each="orderitem : ${orderitems}">
		<td th:text="${orderitem.item.name}"></td>
		<td th:text="${orderitem.item.price} + ' €'"></td>
	</tr>
	</table>
	<p th:text="'There are ' + ${quantity} + ' items in total'" />
	<p th:text="'Total is €' + ${total}" />
	
	<button><a href="/checkout">Checkout</a></button>
	<button><a href="/cancel">Cancel Order</a></button>
	
	
</body>
</html>